<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>adminLogin</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	//text 보여주는 함수 - 초기화 시킴
	let helperInit = function(){
		$('#idHelper').text("");
		$('#pwHelper').text(""); 
	};

	//document
	$(document).ready(function(){
		$('#btn').click(function(){
			//로그인 값 유호성 검사
			if($('#adminId').val() == ""){
				//함수
				helperInit();
				//text 값 새로 넣음
				$('#idHelper').text("아이디를 입력하세요.");
				//마우스 커서
				$('#memberId').focus();
				//형식이 맞지 않으면 더이상 코드를 진행하지 않고 return
				return;
			}

			if($('#adminPw').val() == ""){
				helperInit();
				$('#pwHelper').text("비밀번호를 입력하세요.");
				$('#adminPw').focus();
				return;
			}
			$('#loginForm').submit();
		});
	});
</script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5"></div>
			<div class="col-sm-3">
				<div align="center">
					<h1 class="m-5"><strong>로그인</strong></h1>
					<!-- 로그인 폼 -->
					<form id="loginForm" method="post" action="/adminLogin">
						<div class="form-group">
							<div>
								<label></label>
							</div>
							<div>
								<input type="text" id="adminId" name="adminId" class="form-control" placeholder="아이디" value="admin">
								<span id="idHelper"></span>
							</div>
						</div>
						<div class="form-group">
							<div>
								<label></label>
							</div>
							<div>
								<input type="password" id="adminPw" name="adminPw" class="form-control" placeholder="비밀번호" value="1234">
								<span id="pwHelper"></span>
							</div>
						</div>
						<div>
							<a th:href="@{/findAdminId}">아이디가 기억나지 않아요.</a>
							<br><br>
							<a th:href="@{/findAdminPw}">비밀번호가 기억나지 않아요.</a>
						</div>
						<br><br>
						<div>
							<button type="button" id="btn" class="btn btn-primary btn-block">로그인</button>
						</div>
					</form>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>