<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>findMemberPw</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('#btn').click(function() {
			// 아이디 입력 안할시
			if($('#memberId').val().lenght < 1) {
				alert("아이디를 입력하세요");
				return;
			}
			if($('#memberEmail').val().lenght < 1) {
				alert("이메일을 입력하세요");
				return;
			}
			$('#memberPwForm').submit();
		});
	});
</script>
</head>
<body>
	<h1>비밀번호 찾기</h1>
	<form method="post" th:action="@{/findMemberPw}" id="memberPwForm">
		<div>
			<label>아이디</label>
		</div>
		<div>
			<input type="text" name="memberId" id="memberId">
		</div>
		<div>
			<label>이메일</label>
		</div>
		<div>
			<input type="text" name="memberEmail" id="memberEmail">
		</div>
		<div>
			<button type="button" id="btn">비밀번호 찾기</button>
		</div>
	</form>
</body>
</html>