<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>findMembeIdr</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		// 찾기 버튼 클릭시 이벤트
		$('#btn').click(function() {
			// 이름을 입력 안할시
			if($('#memberName').val().length < 1) {
				alert("이름을 입력하세요");
				return;
			}
			// 전화번호 입력을 안할시
			if($('#memberPhone').val().length < 1) {
				alert("전화번호를 입력하세요");
				return;
			}
			// 이메일 입력을 안할시
			if($('#memberEmail').val().length < 1) {
				alert("이메일을 입력하세요");
				return;
			}
			$('#findForm').submit();
		});
	});
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-2">
				<div align="center">
					<h1 class="m-5"><strong>아이디 찾기</strong></h1>
					<div th:if="${member == null}">
						<form id="findForm" method="post" th:action="@{/findMemberId}">
							<div class="form-group">
								<div align="left">
									<label>회원 이름</label>
								</div>
								<div>
									<input type="text" name="memberName" id="memberName" class="form-control" placeholder="이름">
								</div>
							</div>
							<div class="form-group">
								<div align="left">
									<label>회원 전화번호</label>
								</div>
								<div>
									<input type="text" name="memberPhone" id="memberPhone" class="form-control" placeholder="전화번호">
								</div>
							</div>
							<div class="form-group">
								<div align="left">
									<label>회원 이메일</label>
								</div>
								<div>
									<input type="text" name="memberEmail" id="memberEmail" class="form-control" placeholder="이메일">
								</div>
							</div>
							<br>
							<div>
								<button id="btn" type="button" class="btn btn-primary btn-block">찾기</button>
							</div>
						</form>
					</div>
					<div th:if="${member != null}">
						<div>
							ID :<span th:text="${member.memberId}"></span>
						</div>
					</div>
					<div th:if="${member == null}">
						<span th:text="${msg}"></span>
					</div>
					<br>
					<div>
						<a href="/login" class="btn btn-primary btn-block">로그인</a>
					</div>
				</div>
			</div>
			<div class="col-sm-5"></div>
		</div>
	</div>
</body>
</html>