<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getBoardList</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
<script>
	$(document).ready(function() {
		$('#btn').click(function() {
			$('#form').submit();
		});
	});
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:include="/include/menu::sidemenu" class="sidenav"></div>
			</div>
			<div class="col-sm-2">
			</div>
			<div class="col-sm-6">
				<div align="center">
					<h1 class="m-5"><Strong>게시판</Strong></h1>
				</div>
				<br>
				<div class="d-flex justify-content-between">
					<div align="left" th:if="${currentPage > 1}">
						<a th:href="@{getBoardList(currentPage=${currentPage - 1})}" class="btn btn-primary">이전</a>
					</div>
					<div th:unless="${currentPage > 1}" align="left">
						<a class="btn btn-primary">이전</a>
					</div>
					<div align="right" th:if="${currentPage < lastPage}">
						<a th:href="@{getBoardList(currentPage=${currentPage + 1})}" class="btn btn-primary">다음</a>
					</div>
					<div th:unless="${currentPage < lastPage}" align="right">
						<a class="btn btn-primary">다음</a>
					</div>
				</div>
				<br>
				<!-- 리스트 -->
				<div align="center">
					<table class="table table-bordered center">
						<thead>
							<tr class="table-active">
								<th style="width: 10%">글번호</th>
								<th style="width: 50%">글제목</th>
								<th style="width: 20%">작성자</th>
								<th style="width: 20%">작성날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${list}">
								<td th:text="${list.boardNo}"></td>
								<td><a th:href="@{/getBoardListOne(boardNo=${list.boardNo})}" th:text="${list.boardTitle}" class="text-secondary"></a></td>
								<td th:text="${list.memberId}"></td>
								<!-- 문자열을 잘라 년 월 일 만 보이게수정 -->
								<td th:text="${#strings.substring(list.boardDate,0, 10)}"></td>
							</tr>
						</tbody>
					</table>
					<br>
					<div class="d-flex justify-content-between">
					<div align="left">
						<a th:href="@{/addBoard}" class="btn btn-primary">입력</a>
					</div>
					<!-- 검색 -->
					<div align="center">
						<form id="form" method="get" th:action="@{/getBoardList}">
							<div class="input-group mb-3 d-flex justify-content-center" style="width:250px;" id="search">
								<input type="text" name="searchWord" id="searchWord" class="form-control">
								<div class="input-group-append">
									<button type="button" id="btn" class="btn">검색</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>