<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div align="center">
		<h1 class="m-5"><strong>가계부</strong></h1>
		<br><br>
		<a th:href="@{addMember}" type="button" class="btn btn-primary col-sm-4">회원가입</a>
		<br><br><br>
		<!-- session이 null 이 아니면 로그인이 되어 있기 때문에 로그아웃 -->
		<div th:if="${session.loginMember != null}">
			<a th:href="@{logout}" type="button" class="btn btn-primary col-sm-4">로그아웃</a>
		</div>
		<!-- session이 null 이면 로그인이 안되있기 때문에 로그인 -->
		<div th:if="${session.loginMember == null}">
			<a th:href="@{login}" type="button" class="btn btn-primary col-sm-4">로그인</a>
		</div>
		<br><br>
		<!-- session이 null 이면 로그인이 안되있기 때문에 로그인 -->
		<div th:if="${session.loginMember == null}">
			<a th:href="@{adminLogin}" type="button" class="btn btn-primary col-sm-4">관리자 로그인</a>
		</div>
		<br><br><br><br><br>
		<div>본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</div>
		<div><strong>Copyright © JWsoft Corp. All Rights Reserved.</strong></div>
	</div>
</div>
</body>
</html>