<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>memberInfo</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:include="/include/menu::sidemenu" class="sidenav"></div>
			</div>
			<div class="col-sm-2">
			</div>
			<div class="col-sm-6">
				<div align="center">
					<h1 class="m-5"><strong>회원 정보</strong></h1>
					<div align="right">
						<a th:href="@{removeMember}" class="btn btn-info btn-sm">회원탈퇴</a>
					</div>
					<br>
					<table class="table table-bordered center">
						<tr>
							<td class="table-active"><br><br><br><br>사진</td>
							<td><img th:src="${'/upload/'+member.memberPic}" style="width: 200px; height: 200px"></td>
						</tr>
						<tr>
							<td class="table-active">아이디</td>
							<td th:text="${member.memberId}"></td>
						</tr>
						<tr>
							<td class="table-active">이름</td>
							<td th:text="${member.memberName}"></td>
						</tr>
						<tr>
							<td class="table-active">주소</td>
							<td th:text="${member.memberAddr}"></td>
						</tr>
						<tr>
							<td class="table-active">전화번호</td>
							<td th:text="${member.memberPhone}"></td>
						</tr>
						<tr>
							<td class="table-active">이메일</td>
							<td th:text="${member.memberEmail}"></td>
						</tr>
					</table>
					<div align="right">
						<a th:href="@{/modifyMember}" class="btn btn-primary">정보수정</a>
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</body>
</html>