<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>removeMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	let helperInit = function() {
		$('#memberHelper').text("");
		$('#msg').text("");
	};
	$(document).ready(function() {
		// 회원탈퇴 버튼 이벤트
		$('#btn').click(function() {
			if($('#memberPw').val().length < 1) {
				helperInit();
				$('#memberHelper').text("비밀번호를 입력하세요");
				$("#memberPw").focus();
				return;
			}
			$('#removeForm').submit();
		});
	});
</script>
<style th:include="/include/menu::css"></style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:include="/include/menu::sidemenu" class="sidenav"></div>
			</div>
			<div class="col-sm-2">
			</div>
			<div class="col-sm-6">
				<div align="center">
					<br><br><br><br><br><br>
					<h1 class="m-5"><strong>회원탈퇴</strong></h1>
					<br><br><br><br>
					<form id="removeForm" method="post" th:action="@{removeMember}" class="center">
						<div>
							<div align="left">
								<label>비밀번호</label>
							</div>
							<div>
								<input type="password" name="memberPw" id="memberPw" class="form-control" placeholder="비밀번호 입력">
							</div>
							<div>
								<span id="memberHelper"></span>
							</div>
							<div>
								<span th:text="${msg}" id="msg"></span>
							</div>
							<br>
							<div>
								<button type="button" id="btn" class="btn btn-primary">회원탈퇴</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>
</body>
</html>