<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>removeMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	let helperInit = function() {
		$('#memberHelper').text("");
		$('#msg').text("");
	};
	$(document).ready(function() {
		// 회원탈퇴 버튼 이벤트
		$('#btn').click(function() {
			if($('#memberPw').val().length < 1) {
				helperInit();
				$('#memberHelper').text("비밀번호를 입력하세요");
				$("#memberPw").focus();
				return;
			}
			$('#removeForm').submit();
		});
	});
</script>
</head>
<body>
	<h1>회원탈퇴</h1>
	<form id="removeForm" method="post" action="/removeMember">
		<div>
			<div>
				<label>비밀번호</label>
			</div>
			<div>
				<input type="password" name="memberPw" id="memberPw">
			</div>
			<div>
				<span id="memberHelper"></span>
			</div>
			<div>
				<span th:text="${msg}" id="msg"></span>
			</div>
			<br>
			<div>
				<button type="button" id="btn">회원탈퇴</button>
			</div>
		</div>
	</form>
</body>
</html>