<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook1.mapper.MemberMapper">
	
	<!-- 이미지 삭제 select -->
	<select id="selectMemberPic" parameterType="String" resultType="String">
		SELECT
			member_pic
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<!-- 비밀번호 찾기 순서 : 1.사용자 입력 확인 select 2.사용자의 정보가 일치하면 Pw변경(랜덤문자열로) update 3. 변경된 비밀번호를 email로 전송-->
	<update id="updateMemberPw" parameterType="com.gdu.cashbook1.vo.Member">
		UPDATE member 
		SET member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>
	<!-- 아이디 찾기 -->
	<select id="selectMemberIdByMember" parameterType="com.gdu.cashbook1.vo.Member" resultType="String">
		SELECT
			CONCAT(SUBSTRING(member_id, 1, 3), '****')
		FROM member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email = #{memberEmail}
	</select>
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="com.gdu.cashbook1.vo.Member">
		UPDATE member
		SET member_name = #{memberName},
			member_pw = PASSWORD(#{memberPw}),
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},
			member_pic = #{memberPic}
		WHERE member_id = #{memberId}
	</update>
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="com.gdu.cashbook1.vo.LoginMember">
		DELETE FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</delete>
	<!-- 회원정보 하나만 보여주는 쿼리 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook1.vo.LoginMember" resultType="com.gdu.cashbook1.vo.Member">
		SELECT
			member_id as memberId,
			member_name as memberName,
			member_addr as memberAddr,
			member_phone as memberPhone,
			member_email as memberEmail,
			member_pic as memberPic
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<!-- 아이디 비밀번호 보여주는 쿼리 -->
	<select id="selectMemberIdPw" parameterType="String" resultType="com.gdu.cashbook1.vo.Member">
		SELECT
			member_id as memberId,
			member_pw as memberPw
		FROM member
		WHERE member_phone = #{memberPhone}
	</select>
	<!-- 아이디 비밀번호를 찾기위해 필요한 전화번호가 있나 없나 확인하는 쿼리 -->
	<select id="findMember" parameterType="String" resultType="String">
		SELECT
			member_phone
		FROM member
		WHERE member_phone = #{memberPhone}
	</select>
	<!-- id중복체크 쿼리 -->
	<select id="selectMemberId" parameterType="String" resultType="String">
		SELECT
			member_id
		FROM (	SELECT member_id FROM member
				UNION
				SELECT member_id FROM memberid) t
		WHERE member_id = #{memberIdCheck}
	</select>
	<!-- login 쿼리 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook1.vo.LoginMember" resultType="com.gdu.cashbook1.vo.LoginMember">
		SELECT
			member_id as memberId,
			member_pw as memberPw,
			member_pic as memberPic
 		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	<!-- member 데이터 추가 쿼리 -->
	<!-- PASSWORD함수는 비밀번호 암호화 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook1.vo.Member">
		INSERT INTO member(
			member_id, 
			member_pw, 
			member_name, 
			member_addr, 
			member_phone, 
			member_email,
			member_pic
		) VALUES (
			#{memberId}, 
			PASSWORD(#{memberPw}), 
			#{memberName}, 
			#{memberAddr}, 
			#{memberPhone}, 
			#{memberEmail},
			#{memberPic}
		)
	</insert>
</mapper>